@model TweetViewModel
@{
    ViewData["Title"] = "Retweet";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<h4>@Model.Text</h4>
<h4>@Model.UserId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RetweetC">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" hidden class="control-label"></label>
                <input asp-for="Text" hidden class="form-control" />
                <span asp-validation-for="Text" hidden class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="UserId" hidden class="control-label"></label>
                <input asp-for="UserId" hidden class="form-control" />
                <span asp-validation-for="UserId" hidden class="text-danger"></span>
            </div>
            <br />
            <br />
            @*<a asp-action="Create" asp-route-id="@Model.UserId">Create</a> |*@
            <div class="form-group">
                <input type="submit" value="Ok" @*asp-route-id="@User"*@ class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
